*Global Emigration Trends in a Warming World*

I am curious if there's any correlation in global mean temperatures and the number of people seeking to emigrate to different countries.  As an easy entry to this inquiry, I begin by looking at two datasets that were readily available on Kaggel, one that looks at [temperates](https://www.kaggle.com/datasets/palinatx/mean-temperature-for-countries-by-year-2014-2022) in 170 different countries from 1901-2020, and one that tracks [global emigration trends](https://www.kaggle.com/datasets/shreyasur965/global-emigration-trends-1990-2020?resource=download) in 282 countries from 1995-2020.

In [1]:
# Import relevant libraries
import pandas as pd
import numpy as np

Examining the temperature df

In [39]:
# Import df
temp_df= pd.read_csv('Data/combined_temperature.csv')

In [41]:
# Examine df
temp_df.head()

              Country  Year  Annual Mean  5-yr smooth Code
0  Dominican Republic  1901        23.71        23.65  DOM
1  Dominican Republic  1902        23.40        23.52  DOM
2  Dominican Republic  1903        23.45        23.38  DOM
3  Dominican Republic  1904        23.03        23.26  DOM
4  Dominican Republic  1905        23.44        23.16  DOM

In [50]:
# Datatypes
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20740 entries, 0 to 20739
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      20740 non-null  object
 1   Year         20740 non-null  int64
 2   Annual Mean  20740 non-null  float64
 3   5-yr smooth  20740 non-null  float64
 4   Code         20740 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 810.3+ KB

In [47]:
# Number of Countries
t_unique_count = temp_df['Country'].nunique()
print(f'T Number of unique values: {m_unique_count}')

170

In [74]:
# Print list of countries
for value in temp_df['Country'].unique():
    print(value)

Dominican Republic
United States
Zambia
Vanuatu
Tonga
Ghana
Maldives
Uruguay
Fiji
Solomon Islands
Georgia
Senegal
Gambia
Nauru
Trinidad And Tobago
Bangladesh
Bahrain
Malta
Uzbekistan
Kenya
Chad
Libya
Estonia
Liberia
Nicaragua
Russian Federation
Tanzania
South Sudan
Canada
Poland
Mexico
Sweden
Belgium
Liechtenstein
Thailand
Korea-
Guatemala
Cambodia
Vietnam
Finland
Benin
Palau
Lesotho
Jamaica
Zimbabwe
Mali
Jordan
Austria
Barbados
South Africa
Haiti
Togo
Hungary
Iraq
Rwanda
Turkey
Romania
Yemen, Rep.
Madagascar
Bolivia
Germany
Chile
Kiribati
Timor Leste
Sudan
Honduras
Oman
Grenada
Suriname
Belarus
Comoros
Monaco
Syrian Arab Republic
Ethiopia
Bulgaria
Mongolia
Brazil
Uganda
Djibouti
France
Qatar
Serbia
Gabon
Kuwait
Japan
Nepal
Iceland
Malawi
Afghanistan
Turkmenistan
Eritrea
Samoa
Paraguay
Andorra
Cuba
United Kingdom
Malaysia
New Zealand
Lebanon
Tajikistan
Algeria
Somalia
Kazakhstan
Gambia,
Philippines
Azerbaijan
Botswana
Sierra Leone
Netherlands
Dominica
Colombia
Guyana
Mauritius
Saudi Arabia
Tuvalu
United Arab Emirates
Nigeria
Burundi
Panama
Venezuela, Rb
Ukraine
Portugal
Belize
Slovenia
Guinea Bissau
Luxembourg
Norway
Montenegro
Peru
Pakistan
Cameroon
Papua New Guinea
Korea, Rep.
Moldova
Armenia
Singapore
Spain
Mozambique
Seychelles
Guinea
Bhutan
Cyprus
Latvia
Tunisia
Australia
Denmark
Argentina
Ecuador
Indonesia
Sri Lanka
Albania
Mauritania
Bahamas,
Myanmar
Egypt
Iran, Islamic Rep.
Greece
Israel
Congo, Dem. Rep.
Niger
Central African Republic
Italy
Slovak Republic
Costa Rica
Eswatini
Cote d'Ivoire
Kyrgyz Republic
Croatia
Angola
Switzerland

In [48]:
# Earliest Year
Tmin_value= temp_df['Year'].min()
print(f"Earliest year in temp: {Tmin_value}")

Earliest year in temp: 1901

In [49]:
# Examine Years
Tunique_years = temp_df['Year'].unique()
print(Tunique_years)

[1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914
 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928
 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942
 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956
 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970
 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984
 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]

Let's examine the migration data

In [64]:
# Import Migration data
migration_df= pd.read_csv('Data/total-number-of-emigrants.csv')

In [71]:
# Migration df
migration_df.head()

        Entity  Year  Total number of emigrants
0  Afghanistan  1990                    7679582
1  Afghanistan  1995                    4347049
2  Afghanistan  2000                    4750677
3  Afghanistan  2005                    4116739
4  Afghanistan  2010                    5269518

In [66]:
# Examine datatypes
migration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Entity                     1974 non-null   object
 1   Year                       1974 non-null   int64
 2   Total number of emigrants  1974 non-null   int64
dtypes: int64(2), object(1)
memory usage: 46.4+ KB

In [67]:
# Number of countries in df
m_unique_count = migration_df['Entity'].nunique()
print(f'M Number of unique values: {m_unique_count}')

M Number of unique values: 282

In [73]:
# Print list of countries
for value in migration_df['Entity'].unique():
    print(value)

Afghanistan
Africa
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Asia
Australia
Australia and New Zealand
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bonaire Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Caribbean
Cayman Islands
Central African Republic
Central America
Central Asia
Central and Southern Asia
Chad
Channel Islands
Chile
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czechia
Democratic Republic of Congo
Denmark
Developed regions
Djibouti
Dominica
Dominican Republic
East Timor
Eastern Africa
Eastern Asia
Eastern Europe
Eastern and South-Eastern Asia
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Europe
Europe and Northern America
Falkland Islands
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
High-income countries
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Land-locked Developing Countries (LLDC)
Laos
Latin America and the Caribbean
Latvia
Least developed countries
Lebanon
Lesotho
Less developed regions
Less developed regions, excluding China
Less developed regions, excluding least developed countries
Liberia
Libya
Liechtenstein
Lithuania
Low-income countries
Lower-middle-income countries
Luxembourg
Macao
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Melanesia
Mexico
Micronesia
Micronesia (country)
Middle Africa
Middle-income countries
Moldova
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Korea
North Macedonia
Northern Africa
Northern Africa and Western Asia
Northern America
Northern Europe
Northern Mariana Islands
Norway
Oceania
Oceania (excluding Australia and New Zealand)
Oman
Other
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Polynesia
Portugal
Puerto Rico
Qatar
Reunion
Romania
Russia
Rwanda
Saint Barthelemy
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Martin (French part)
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovakia
Slovenia
Small island developing States (SIDS)
Solomon Islands
Somalia
South Africa
South America
South Korea
South Sudan
South-Eastern Asia
Southern Africa
Southern Asia
Southern Europe
Spain
Sri Lanka
Sub-Saharan Africa
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
United States Virgin Islands
Upper-middle-income countries
Uruguay
Uzbekistan
Vanuatu
Vatican
Venezuela
Vietnam
Wallis and Futuna
Western Africa
Western Asia
Western Europe
Western Sahara
World
Yemen
Zambia
Zimbabwe

In [68]:
# Earliest year
min_value= migration_df['Year'].min()
print(f"Earliest year in migration: {min_value}")

Earliest year in migration: 1990

In [69]:
# Examine years
unique_years = migration_df['Year'].unique()
print(unique_years)

[1990 1995 2000 2005 2010 2015 2020]

It's clear from examining the data frames that we'll have some data cleaning to do before joining the two.  We'll take the following steps to prepare our data:

- Migration data has been collected in 5 year intervals, we'll need to fill the gaps between years by extrapolating data

- 'Country' and 'Entity' columns of our migration and temp df's contain spelling inconsistancies that we'll need to clean

- The migration_df has some inconsistencies that need to be cleaned, for instance it contains Africa as a country, when it is a continent.